<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StructureCreator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <StructureCreator.Properties.Settings>
            <setting name="ProjectPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Active" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DevelopMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProjectName" serializeAs="String">
                <value />
            </setting>
            <setting name="StyPath" serializeAs="String">
                <value />
            </setting>
            <setting name="csv1Path" serializeAs="String">
                <value />
            </setting>
            <setting name="csv2Path" serializeAs="String">
                <value />
            </setting>
            <setting name="csv3Path" serializeAs="String">
                <value />
            </setting>
            <setting name="glpsolCommand" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="modPath" serializeAs="String">
                <value />
            </setting>
            <setting name="lpPath" serializeAs="String">
                <value />
            </setting>
            <setting name="lplogPath" serializeAs="String">
                <value />
            </setting>
            <setting name="cplexCommand" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cplexlogPath" serializeAs="String">
                <value />
            </setting>
            <setting name="solFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="solImportCommand" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="latexCommand" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="texFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="pdfPath" serializeAs="String">
                <value />
            </setting>
            <setting name="distance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="forces" serializeAs="String">
                <value />
            </setting>
            <setting name="pointForceX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="activePoint" serializeAs="String">
                <value />
            </setting>
            <setting name="xLength" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="yLength" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="zLength" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="forceCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="exePath" serializeAs="String">
                <value />
            </setting>
            <setting name="pointForceY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="pointForceZ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="activePointCoord" serializeAs="String">
                <value />
            </setting>
            <setting name="showHintOnTab" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sphereMultiplier" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cmdActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="activePointName" serializeAs="String">
                <value />
            </setting>
            <setting name="bearingLoads" serializeAs="String">
                <value />
            </setting>
            <setting name="bearingLoadCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="stabwerkerzeugerexePath" serializeAs="String">
                <value />
            </setting>
            <setting name="CrossSecFormOpened" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ForceFormOpened" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BearingFormOpened" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CreateLPFormOpened" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GLPKFormOpened" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CPLEXFormOpened" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CreatePDFFormOpened" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CPLEXSolutionFormOpened" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConstructFormOpened" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ResultsFormOpened" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EditFormOpened" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NewStudyFormOpened" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Dimension" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="deleteArrows" serializeAs="String">
                <value />
            </setting>
        </StructureCreator.Properties.Settings>
    </userSettings>
</configuration>